.main-container {
  max-width: 600px;
  padding: 1rem 1rem;
  background-color: var(--Very-light-gray);
}
.main-container p {
  color: var(--Grayish-Blue);
}
.main-card {
  align-items: center;
  max-width: 600px;
  min-width: 280px;
  padding: 18px;
  margin-bottom: 0.75rem;
  background-color: var(--White);
  border-radius: 0.5em;
}
.user-img {
  width: 2rem;
  height: 2rem;
}
.text-soft-red {
  color: var(--Soft-Red);
}
.username {
  color: var(--Dark-blue);
  font-weight: bold;
  margin-right: 1em;
}
.reply-to {
  color: var(--Moderate-blue);
  font-weight: bold;
  /* margin-right: 1em; */
}
.created-at {
  color: gray;
  font-weight: 400;
}
.input-comment {
  width: 100%;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 4px;
  margin: 0 0 0.5em 0;
}
@media screen and (min-width: 576px) {
  .input-comment {
    width: 75%;
  }
}
