.reply-btn {
  background-color: white;
  /* background-color: hsl(228, 33%, 97%); */
  border: 0;
  color: var(--Moderate-blue);
  font-weight: 500;
}
.reply-btn .icon-img {
  width: 11px;
  height: 11px;
  margin-right: 0.5em;
}
.reply-btn:hover {
  background-color: hsl(228, 33%, 97%);
  border-radius: 4px;
}
