.reply-card {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: 0;
  padding: 1em;
  background-color: var(--White);
  border-radius: 0.5em;
}
.reply-card .current-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-user .user-img {
  width: 32px;
  margin-right: 1em;
}
.me-user {
  background-color: var(--Dark-blue);
  color: var(--White);
  font-weight: 700;
  padding: 0 4px 2px 4px;
  border-radius: 4px;
  margin-right: 1em;
}
.reply-card .form-control {
  font-size: 1em;
}
.modal-dialog {
}
.modal-content {
  width: 320px;
  margin: auto auto;
}
.modal-body .p {
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  .reply-card {
    flex-direction: row;
    max-width: 600px;
    padding: 18px;
    background-color: var(--White);
    border-radius: 0.5em;
  }
  .reply-card p {
    margin-bottom: 0;
  }
}
