.score-btn-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 24px;
  padding: 8px;
  margin-right: 12px;
  color: var(--Dark-blue);
  font-weight: 700;
  background-color: var(--Very-light-gray);
  border-radius: 8px;
}
